@page
@model libreria.Pages.RealizarVentaModel
@{
}

<h2>Realizar Venta</h2>

<form method="post">
    <div class="form-group">
        <label for="cliente">Cliente:</label>
        <select id="cliente" name="cliente" class="form-control">
            @foreach (var cliente in Model.Clientes)
            {
                <option value="@cliente.Id">@cliente.Nombre</option>
            }
        </select>
    </div>
    <br />
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Realizar Venta</button>
        <button type="button" class="btn btn-secondary ml-2" onclick="cancelarVenta()">Cancelar</button>
    </div>
</form>

@section Scripts {
    <script>
        function cancelarVenta() {
            // Redireccionar al inicio o a la página deseada al cancelar la venta
            window.location.href = "/Index";
        }
    </script>
}
