@page
@model libreria.Pages.RealizarVentaModel
@{
}

<h2>Realizar Venta</h2>

<form method="post">
    <div>
        <label for="cliente">Cliente:</label>
        <select id="cliente" name="cliente">
            @foreach (var cliente in Model.Clientes)
            {
                <option value="@cliente.Id">@cliente.Nombre</option>
            }
        </select>
    </div>

    <button type="submit">Realizar Venta</button>
</form>
